{:paths ["src"]
 :deps  {com.datomic/datomic-free {:mvn/version "0.9.5697"}
         com.datomic/client-cloud {:mvn/version "0.8.102"}

         io.rkn/conformity        {:mvn/version "0.5.4"}

         ;; Pedestal
         io.pedestal/pedestal.service {:mvn/version "0.5.8"}
         io.pedestal/pedestal.jetty   {:mvn/version "0.5.8"}

         com.cognitect/fern {:mvn/version "0.1.6"}}
 :aliases {:repl {:extra-paths ["test" "test/resources"]}}}
