{:attr-substitutions {;#vase/regex "categoryCommonModelAttributesByGroup" nil
                      ;#vase/regex "commonModelAttributes" "product"
                      ;#vase/regex "wetdryVacuums" nil
                      ;#vase/regex "uprightVacuumCleaners" nil
                      #vase/regex "connection" nil
                      #vase/regex "[i I]mage" nil
                      #vase/regex "[w W]idth" nil
                      #vase/regex "[h H]eight" nil
                      #vase/regex "[w W]idget" nil
                      #vase/regex "[h H]eader" nil
                      #vase/regex "[s S]ort" nil
                      #vase/regex "[p P]resentation" nil
                      #vase/regex "Group" nil}
 :type-substitutions {#vase/regex "[d D]ate$" :date
                      #vase/regex "^is" :boolean}
 :attr-post-process  {#vase/regex "^base." ""}}




