{:db-uri "datomic:mem://vase"
 :service-port 8080
 :http-app-root "/"
 :enable-upsert true
 :http-upsert true
 :transact-upsert true
 :initial-descriptor "sample_descriptor.edn"
 :initial-version [:example :v1]
 :test-trials 36
 ;; These are scoped for use within the parsing of your descriptor
 ;:extension-namespaces {vase.extensions ext}
}

